*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(19, 35, 63);
    display:flex;
    align-items: center;
    justify-content: center;

}

.wrapper{
    
    padding: 20px;
    border-radius: 10px;
     background-image: linear-gradient(to bottom ,rgb(139, 216, 252), rgb(219, 200, 252));
     width: 20rem;
     height: 30rem;
     display: grid;
     grid-template-rows: 20% 30% 15% 10% 25%;
     border-radius: 10px;
     overflow: hidden;
}
.search{
    background-color:transparent;}
.image{
  
  background-color:transparent;}
.temp{
    background-color:transparent;}
.city{
    background-color:transparent;
}
.info{
    background-color:transparent;
}
.search{
    
    display:flex;
    justify-content: space-around;
align-items: center;
}
.search-box{
    /* overflow: hidden; */
    
    background-color:transparent;
    /* background-color: red; */
    width: 230px;
    height: 35px;

}
.search-box input{
    padding-left:15px ;
    border:0;
    outline: 0;
       border-radius: 45px;
    height: 100%;
    width: 95%;
    font-size:1.2rem ;
    transition: all .3s ease-in-out;
}
.search-box input:focus{
    box-shadow:inset 1px 1px 4px rgb(67, 67, 67);
}

.search-icon{
    border-radius: 50px;
    background-color:rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:35px;
    width: 35px;
}
.search-icon:hover{
    cursor:pointer;
}
.search-icon:active{
   transform:scale(.9);
}

.search-icon img{
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}
#icon{
      
    height: 1rem;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height: 110px;
   
    
}
.temp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp h1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 200;
    letter-spacing: 2px;
}
.city{
    display: flex;
    align-items: center;
    justify-content: center;
}
.city h2{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 4px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.humidity{
    color: aliceblue;
    padding-right: 5px;
    display: grid;
    background-color:transparent;
    height: 100px;
    width: 115px;
}
.wind{
    margin-right: 10px;
    color: aliceblue;

    display: grid;
    background-color: transparent;
    height: 100px;
    width: 115px;
}
.up{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.up h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.up img{
    width: 40px;
}
#name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    font-weight: 100;
}

.part{
    background-color: blueviolet;
    height: 25rem;
    
}
.pop-up{
animation:pop-up .3s .4s  ease-in-out forwards; 
}
.pop-down{
    animation:pop-down.3s  ease-in-out forwards; 
}
@keyframes pop-up{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes pop-down{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(0);
    }
}

@media only screen and (max-width:600px){

    body{
        
        height: 100vh;
    }
    .wrapper{
    
        padding: 20px;
        border-radius: 10px;
       
         /* background-color: chartreuse; */
         width: 100vw;
         height: 100vh;
         display: grid;
         grid-template-rows: 20% 30% 15% 10% 25%;
         border-radius: 0;
         overflow: hidden;
    }
    .search-box input{
        padding-left:15px ;
        border:0;
        outline: 0;
           border-radius: 45px;
        height: 115%;
        width: 105%;
        font-size: 1.2rem;
    }
    .city h2{
        color: aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-stretch: ultra-expanded;
        font-weight: 100;
        font-size: 2rem;
        letter-spacing: 4px;
    }

    #icon{
      
        height: 1.2rem;
    }
  
    .image img{
        height: 15rem;
 
    }

    .search-icon{
        margin-top:.5rem ;
        border-radius: 50px;
        background-color:rgb(255, 255, 255);
       
        
        height:45px;
        width: 45px;
    }
    .search-box{
        /* overflow: hidden; */
        
        background-color:transparent;
        width: 70%;
        height: 40px;
    
    }
    .wind{
        width: 10rem;
      
    }
    .up  h2{
        font-size: 1.4rem;
    }
    .up #name{
        font-size: 1.2rem;
    }
    .humidity .up img{
        margin-right: 10px;
    }
}

@media only screen and (max-width:400px){
  
    .wrapper{    
        padding: 10px;
    }
    .up  h2{
        font-size: 1.2rem;
    }
    .up #name{
        font-size: 1rem;
    }
 

}
